@media (max-width:1822px) {
    .main-block__image-info {
        margin-right: 95px;
    }

.main-block__image-info__image {
width: 700px;
    height: 350px;}
    .main-header{
        padding: 35px 50px;
    }

}

@media (max-width:1568px) {
    .main-block__image-info__image.second-level{
        width: 450px;
        height: 308px;
    }

    .main-block__image-info__info h2{
        font-size: 32px;
    }
    .main-block__image-info__info p{
        font-size: 12px;
    }

    .main-block__heading {
        font-size: 38px;
    }

    }

@media (max-width:1176px) {
    .main-block__image-info {
        margin-right: 15px;
    }
    .main-block__image-info__info.second-level {
        margin-left: 50px;
    }
}


@media (max-width: 1109px) {
    .main-block__image-info__image {
        width: 480px;
        height: 290px;
    }
    .main-block__image-info__image.second-level {
        width: 340px;
        height: 234px;
    }

    .main-block__heading {
        margin-left: auto;
        text-align: center;
    }
}

@media (max-width: 854px) {
    .main-page{
        padding-top: 70px;
    }
    .main-header{
        padding: 20px;
    }
    .main-header__logo{
        width: 118px;
        height: 20px;
    }
    .main-header__phone{
        display: none;
    }
    .main-header__phone.mob-icon{
        display: block;
    }

    .main-block__image-info {
       margin-top: 60px;
    }
    .main-block__image-info__info{
        margin: 20px;
    }

    .main-block__heading {
        font-size: 24px;
        margin: 20px;
        text-align: left;
    }
    .main-block__image-info{
        flex-direction: column;
        margin-right: auto;
        gap: 0;
    }
    .main-block__image-info:nth-child(odd){
        flex-direction: column-reverse;

    }
    .main-block__image-info__image{
        width: 100%;
        height: auto;
    }

    .main-block__image-info__info h2 {
        font-size: 24px;
    }

    .main-block__image-info__image.second-level {
        width: 100%;
        height: auto;
    }

    .main-block__image-info__info.second-level{
        margin: 20px;
    }

    .main-footer{
        margin-top: 60px;
    }

}
