.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 260px;
    background: linear-gradient(0deg, #464341 0%, #010101 100%);
}

.main-header__phone{
    font-family: 'Manrope',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
}
.main-header__logo{
    width: 210px;
    height: 36px;
}
.main-header__phone.mob-icon{
    display: none;
}