

.sticky-container__wrapper>.main-block__heading{
    position: sticky;
    top: 150px;
}
.sticky-container{
    display: flex;
    gap: 10px;
    position: sticky;
    top: 250px;
    flex-wrap: nowrap;
    transform: translateX(250px);
}


.sticky-container__item{
    width: 320px;
    height: 488px;
    flex: 0 0 320px;
}
.sticky-container__item img{
    width: 320px;
    height: 488px;
    flex: 0 0 320px;
}


